
.dd{
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 50px;
    right: 40px;
    z-index: 6;
    overflow-y: scroll;
    .custom-button{
        font-size:10px;
        text-align: start;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 30px;
    }
    
}

.n-dd {
height: 10z0px;
display: flex;
color:black;
font-size: 20px;
}

@media screen and (max-width:1000px){
    .dd{
        width: 140px;
        height: 240px;
        top: 50px;
        right: 40px;
        .custom-button{
            position: absolute;
            top:200px;
            right:0px;
            width:10px;
            font-size:9px;
            text-align: start;
            padding-bottom: 0px;
            padding-right: 0px;
            padding-left: 10px;
        }
    }
    
    .n-dd {
    height: 100px;
    display: flex;
    color:black;
    font-size: 16px;
    }
}