.chat{
    height: 92vh;
    width: 100%;
    .chat-zone{
        position: fixed;
        background-color: #94c997;
        background-image: linear-gradient(315deg, #94c997 0%, #daacec 74%);      
        height: 749px;
        right:0px;
        top:140px;
        width:1470px;
        #chat-z{
            position: fixed;
            bottom:75px;
            height: 35px;
            width:1350px;
            right:80px;
            border-radius: 33px;
        }
        .send{
            height: 50px;
            width: 50px;
            position: fixed;
            bottom:75px;
            right:10px;
            cursor: pointer;
        }
    }
    .chat-header{
        position: fixed;
        width:1472px;
        height:80px;
        margin-left:378px;
        top:60px;
        text-align: start;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .u-p{
            display: none;
        }
        .chat-name{
            color:white;
            font-size: 25px;
            padding-left: 20px;
        }
    }
    .chat-header.show{
        background-color: #4f3961;
        .u-p{
            height: 54px;
            width: 54px;
            display: flex;
            padding-left:30px;
        }
    }
    margin-top:70px;
    .hr{
        display: block;
    }
    .back{
        height: 50px;
        width: 50px;
        position: fixed;
        left:20px;
        cursor: pointer;
    }
    .search{
        margin: 10px;
        background-color: white;
        border-radius: 25px;
    }
    .name-box{
        position: fixed;
        top:140px;
        height: 754px;
        width: 378px;
        background-color: #c3aed6;
    }
    .s-b{
        height: 41px;
        width: 41px;
        cursor: pointer;
        margin-left:275px;
    }
    .u-p{
        height: 41px;
        width: 41px;
    }
    .chat-card{
        display: flex;
        flex-direction: row;
        padding:15px;
        border-style: solid;
        border-color: white;
        border-right:#c3aed6 ;
        border-left:#c3aed6 ;
        border-top:#c3aed6 ;
        cursor: pointer;
        .chat-name{
            padding-top:10px;
            padding-left:10px;
        }
    }
}

@media screen and (max-width:1000px){
    .chat{
        overflow: scroll;
        white-space: nowrap;
    }
    body{
        overflow: scroll;
    }
}