.chat{
    height: 92vh;
    width: 100%;
    overflow: hidden;
    .chat-zone{
        position: relative;
        background-color: #94c997;
        background-image: linear-gradient(315deg, #94c997 0%, #daacec 74%);      
        height: 749px;
        right:-378px;
        top:70px;
        width:1470px;
        overflow-y: scroll;
        overflow-x: hidden;
        .f-msg{
            background-color: black;
            color: white;
            border-radius: 20px;
            margin-bottom:10px;
            width: 500px;  
            height: auto;
            margin-left: 960px
        }
        .t-msg{
            background-color: white;
            color: black;
            border-radius: 20px;
            margin-bottom:10px;
            width: 500px;  
            height: auto;   
        }
        #chat-z{
            position: fixed;
            bottom:76px;
            height: 35px;
            width:1350px;
            max-width: 1350px;
            right:70px;
            border-radius: 33px;
        }
        .send{
            height: 50px;
            width: 50px;
            position: fixed;
            bottom:75px;
            right:10px;
            cursor: pointer;
        }
    }
    .chat-header{
        position: fixed;
        width:1472px;
        height:80px;
        margin-left:378px;
        top:60px;
        text-align: start;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .u-p{
            display: none;
        }
        .chat-name{
            color:white;
            font-size: 25px;
            padding-left: 20px;
        }
    }
    .chat-header.show{
        background-color: #4f3961;
        .u-p{
            height: 54px;
            width: 54px;
            display: flex;
            padding-left:30px;
        }
    }
    margin-top:70px;
    .hr{
        display: block;
    }
    .back{
        height: 50px;
        width: 50px;
        position: fixed;
        left:20px;
        cursor: pointer;
    }
    .search{
        margin: 10px;
        background-color: white;
        border-radius: 25px;
    }
    .name-box{
        position: fixed;
        top:140px;
        height: 754px;
        width: 378px;
        background-color: #c3aed6;
    }
    .s-b{
        height: 41px;
        width: 41px;
        cursor: pointer;
        margin-left:275px;
    }
    .u-p{
        height: 41px;
        width: 41px;
    }
    .chat-card{
        display: flex;
        flex-direction: row;
        padding:15px;
        border-style: solid;
        border-color: white;
        border-right:#c3aed6 ;
        border-left:#c3aed6 ;
        border-top:#c3aed6 ;
        cursor: pointer;
        .chat-name{
            padding-top:10px;
            padding-left:10px;
        }
    }
}

@media screen and (max-width: 1000px){
    .chat{
        box-sizing: border-box;
        height: 100%;
        width: 100vw;
        //white-space: nowrap;
        .name-box {
            z-index: 4;
            width: 100vw;
        }
        .name-box.hide{
            display:none;
        }

        .chat-header {
            z-index: 2;
            margin-left: 0px;
            padding-left: 50px;
        }

        .back {
            z-index: 3;
            top: 75px;
            path {
                fill: #fff;
            }
        }

        .chat-zone{
            overflow: auto;
            position: relative;
            background-color: #94c997;
            background-image: linear-gradient(315deg, #94c997 0%, #daacec 74%);      
            height: 749px;
            right:0px;
            //top:70px;
            width:100vw;
            padding-bottom: 40%;
            //overflow-y: scroll;
            //overflow-x: hidden;
            .f-msg{
                background-color: black;
                color: white;
                border-radius: 20px;
                margin-bottom:10px;
                width: max-content;  
                height: auto;
                right: 0;
                margin-left: auto;
                margin-right: 20px;
                text-align: right;
            }
            .t-msg{
                background-color: white;
                color: black;
                border-radius: 20px;
                margin-bottom:10px;
                margin-left: 10px;
                width: max-content;
                max-width: 45%;
                height: max-content;
                text-align: left;    
            }

            .f-msg, .t-msg {
                font-size: calc(10px + 1vmin);
                padding: 8px 15px;
            }

            #chat-z{
                bottom:76px;
                height: 35px;
                width: calc(100vw - 100px);
                max-width: 1350px;
                right:70px;
                border-radius: 33px;
            }
            .send{
                height: 50px;
                width: 50px;
                bottom:75px;
                right:10px;
                cursor: pointer;
            }
        }
    }
    body{
        overflow-x: hidden;
    }
}