.nav{
    height: 5vh;
    background-color: #221f3b;
    z-index: 1;
    .sign-out{
        display:none;
    }
    .navlinks{
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding-top: 8px;
        align-items: center;
        z-index: 5;
        a{
            text-decoration: none;
        }
        li{
            color: white;
            text-decoration: none;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:1000px){
    .nav{
        .sign-out{
            display: flex;
            position: fixed;
            top:75px;
            right:20px;
        } 
        padding-top: 8px;
        .navlinks{
            justify-content: start;
        }
    }
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin-bottom: 8px;
        margin-left: 10px;
    }
    .hamburger{
        cursor: pointer;
        width: 60px;
        
    }
    .navlinks{
    position: fixed;
    background-color: #221f3b;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at -10% -15%);
    -webkit-clip-path: circle(100px at -10% -15%);
    transition: all 1s ease-out;
    pointer-events: none;
    li{
        padding: 7%;
    }
    }
    .navlinks.open{
        pointer-events: all;
        clip-path: circle(1200px at -10% -15%);
        -webkit-clip-path: circle(1200px at -10% -15%);
        }
        .navlinks.close{
            clip-path: circle(100px at -10% -15%);
            -webkit-clip-path: circle(100px at -10% -15%);
            }    
}