.a-card{
    font-size: 20px;
    border-color:black;
    border-style: solid;
    border-radius: 15px;
    width :50px;
    margin:45px;
    padding: 30px;
    background-color:#ebebeb;
}
@media screen and (max-width:1000px){
    .a-card{
        left:25%;
        position: relative;
        display:block;
    }
}