.parent{
    display: flex;
    flex-direction: column;
    width: 30vw;
  justify-content: center;
  position: absolute;
  height: 50%;
  left:33%;
  border-style: solid;
  border-radius: 30px;
  padding: 30px;
  margin-top: 170px;
  align-items: center;
    h2{
        padding-top: 30px;
    }
  .signup{
      cursor: pointer;
  }
  .fp{
      cursor: pointer;
  }
}

@media screen and (max-width:1000px){
    .parent{
        width: auto;
        left:0%
    
    }
} 