.notices{
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    display: flex;

}

span{
    padding:10px;
}

.notice{
    display: flex;
    border-style: solid;
    border-radius: 15px;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.pdf{
    justify-content: center;
    embed{
        height: 500px;
        width: 500px;
    }
}

@media screen and (max-width:1000px){
    .pdf{
        justify-content: center;
        embed{
            height: 500px;
            width: 300px;
        }
    }
    .notices{
        flex-direction: column;
        .notice{
            width: 300px;
        }
    }
}