.add{
    text-align: center;
     margin-top:100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    .form-as{
    width: 800px;
    
}
}

@media screen and (max-width:1000px){
    .add{
        .form-as{
            width: 300px;
            
        }
    }
}