.App {
  text-align: center;
  width: auto;}
  .msg{
    height: 70px;
    width: 70px;
    position: fixed;
    top:780px;
    cursor: pointer;
    right:50px;
  }
  .msg.open{
    display: none;
    pointer-events: none;
  }

@media screen and (max-width:1000px){
  .msg{
    position: fixed;
    height: 50px;
    width: 50px;
    right:20px;
    top:680px;
  }
  @media screen and (max-height:804px){
    .msg{
      position: fixed;
      height: 50px;
      width: 50px;
      right:20px;
      top:600px;
    }
  }
  @media screen and (max-height:700px){
    .msg{
      position: fixed;
      height: 50px;
      width: 50px;
      right:20px;
      top:500px;
    }
  }
}
