.banner{
    font-family: Josefin Sans;
    height: 60px;
    width: 100%;
    background-color: #222831;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    .sign-out{
        cursor: pointer;
        font-size: 20px;
        padding: 10px;
        right: 0%;
        top:0.5%;
        position: absolute;
    }
}
a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:1000px){
    .banner{.sign-out{
        top:7.5%
    }}
}