.banner{
    font-family: Josefin Sans;
    height: 60px;
    width: 100%;
    background-color: #221f3b;
    color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 30px;
    position: fixed;
    top:0%;
    z-index: 4;
    .true{
        display: none;
    }
    .sign-out{
        cursor: pointer;
        font-size: 20px;
        z-index: 5;
        padding-right: 35px;
        padding-top:10px;
        align-items: center;
    }
    .svg-nb{
        height: 47px;
        width: 47px;
        cursor: pointer;
    }
    .banner-props{
        display: flex;
        flex-direction: row;
        width: 200px;
    }
}
a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:1000px){
    .banner{
        .banner-props{
            width:50px;
        }
       .sign-out,a{
           display: none;
       }
        }
}

