.banner{
    font-family: Josefin Sans;
    height: 60px;
    width: auto;
    background-color: #222831;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;

}
